<nav class="flex items-center justify-between px-4 py-5 bg-black-100 backdrop-blur-3xl fixed top-0 w-full shadow-sm">
    <div>
      <!-- logo -->
    </div>
    <div class="ml-auto mx-8 flex items-center pr-6">
      <ul class="hidden md:flex">
        <a href="" class="px-2 py-1 text-white font-medium hover:bg-gray-700 rounded">home</a>
        <a href="" class="px-2 py-1 text-white font-medium hover:bg-gray-700 rounded">about</a>
        <a href="" class="px-2 py-1 text-white font-medium hover:bg-gray-700 rounded">services</a>
        <a href="" class="px-2 py-1 text-white font-medium hover:bg-gray-700 rounded">login</a>
      </ul>
      <div class="md:hidden">
        <!-- Hamburger menu icon -->
        <button class="flex items-center px-3 py-2 border rounded text-white hover:text-gray-400">
          <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <title>Menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
          </svg>
        </button>
      </div>
    </div>
  </nav>