<div class="bg-white px-2 py-10">

    <div id="skills" class="mx-auto max-w-6xl">
      <p class="text-center text-malibu text-base font-semibold leading-7 text-primary-500">Skills</p>
      <h2 class="text-center font-display text-3xl font-bold tracking-tight text-slate-900 md:text-4xl">
        Explore My Skills
      </h2>
      <ul class="mt-16 grid grid-cols-1 gap-6 text-center text-slate-700 md:grid-cols-3">
  
        <!-- Angular -->
        <li class="rounded-xl bg-white px-6 py-8 shadow-sm">
          <img src="assets\images\favicon.ico" alt="Angular" class="mx-auto h-10 w-10">
          <h3 class="my-3 font-display font-medium">Angular</h3>
          <p class="mt-1.5 text-sm leading-6 text-secondary-500">
            Experienced in Angular framework for building robust web applications with TypeScript.
          </p>
        </li>
  
        <!-- Tailwind CSS -->
        <li class="rounded-xl bg-white px-6 py-8 shadow-sm">
          <img src="assets/images/tailwindcss.svg" alt="Tailwind CSS" class="mx-auto h-10 w-10">
          <h3 class="my-3 font-display font-medium">Tailwind CSS</h3>
          <p class="mt-1.5 text-sm leading-6 text-secondary-500">
            Proficient in Tailwind CSS for building modern, responsive UI designs.
          </p>
        </li>
  
        <!-- React -->
        <li class="rounded-xl bg-white px-6 py-8 shadow-sm">
          <img src="assets\images\react-native-1.svg" alt="React" class="mx-auto h-10 w-10">
          <h3 class="my-3 font-display font-medium">React</h3>
          <p class="mt-1.5 text-sm leading-6 text-secondary-500">
            Skilled in building interactive UI components using React library.
          </p>
        </li>
  
        <!-- NestJS -->
        <li class="rounded-xl bg-white px-6 py-8 shadow-sm">
          <img src="https://www.vectorlogo.zone/logos/nestjs/nestjs-icon.svg" alt="NestJS" class="mx-auto h-10 w-10">
          <h3 class="my-3 font-display font-medium">NestJS</h3>
          <p class="mt-1.5 text-sm leading-6 text-secondary-500">
            Experienced in building scalable backend APIs with NestJS framework.
          </p>
        </li>
  
        <!-- SQL & MongoDB -->
        <li class="rounded-xl bg-white px-6 py-8 shadow-sm">
          <img src="assets\images\mongodb-icon-1.svg" alt="Databases" class="mx-auto h-10 w-10">
          <h3 class="my-3 font-display font-medium">SQL & MongoDB</h3>
          <p class="mt-1.5 text-sm leading-6 text-secondary-500">
            Proficient in SQL and MongoDB for database management and querying.
          </p>
        </li>
  
        <!-- Machine Learning -->
        <li class="rounded-xl bg-white px-6 py-8 shadow-sm">
          <img src="assets\images\cortana-microsoft.svg" alt="Machine Learning" class="mx-auto h-10 w-10">
          <h3 class="my-3 font-display font-medium">Machine Learning</h3>
          <p class="mt-1.5 text-sm leading-6 text-secondary-500">
            Knowledgeable in applying machine learning algorithms for data analysis and predictions.
          </p>
        </li>
  
        <!-- Soft Skills -->
        <li class="rounded-xl bg-white px-6 py-8 shadow-sm">
          <img src="assets\images\requirements.png" alt="Soft Skills" class="mx-auto h-10 w-10">
          <h3 class="my-3 font-display font-medium">Soft Skills</h3>
          <p class="mt-1.5 text-sm leading-6 text-secondary-500">
            Strong communication, collaboration, and adaptability skills essential for effective teamwork.
          </p>
        </li>
  
      </ul>
    </div>
  
  </div>
  